# MySQL Commands

### 1. Connect to MySQL

In [1]:
import mysql.connector

db = mysql.connector.connect(
    host="127.0.0.1",
    user="pyuser",
    passwd="pypass"
)

my_cursor = db.cursor()

db.autocommit = True

### 2. Database Commands

##### 2.1 Create Database (IF NOT EXISTS is not compulsory but it keeps code safe)

In [2]:
my_cursor.execute("CREATE DATABASE IF NOT EXISTS testdatabase")

##### 2.2 Show Database

In [ ]:
my_cursor.execute("SHOW DATABASES")
for db in my_cursor:
    print(db[0])

##### 2.3.1 Use Database

In [6]:
my_cursor.execute("USE testdatabase")

2.3.2 Or connect directly

In [5]:
import mysql.connector

db = mysql.connector.connect(
    host="127.0.0.1",
    user="pyuser",
    passwd="pypass",
    database = "testdatabase"
)

my_cursor = db.cursor()

##### 2.4 Delete database

In [ ]:
# my_cursor.execute("DROP DATABASE testdatabase")

### 3 Table Commands

##### 3.1 Create Table

In [ ]:
my_cursor.execute("CREATE TABLE Students(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(50), age INT)")

##### 3.2 Show Table

In [ ]:
my_cursor.execute("SHOW TABLES")
for table in my_cursor:
    print(table[0])

##### 3.3 Describe Table

In [ ]:
my_cursor.execute("DESCRIBE Students")
for columns in my_cursor:
    print(columns)

##### 3.4 Drop Table

In [ ]:
my_cursor.execute("DROP TABLE Employee")

### 4. Insert(Create)

##### 4.1 Insert single row

In [ ]:
sql = "INSERT INTO Students (name,age) Values (%s, %s)"
val = ("Amit", 20)
my_cursor.execute(sql, val)
db.commit()

##### 4.2 Insert multiple rows

In [ ]:
sql = "INSERT INTO Students (name, age) Values (%s,%s)"
val = [('Ansh', 22), ('Kaushik', 25), ('Aum', 21)]
my_cursor.executemany(sql, val)
db.commit()

### 5. Select(READ)

##### 5.1 Fetch all records

In [7]:
if my_cursor.with_rows:
    my_cursor.fetchall()

In [ ]:
my_cursor.execute("SELECT * FROM Students")
rows = my_cursor.fetchall()
for row in rows:
    print(row)

##### 5.2 Fetch one

In [ ]:
my_cursor.execute("SELECT * FROM Students")
print(my_cursor.fetchone())

##### 5.3 Select Specific Columns

In [ ]:
my_cursor.execute("SELECT name, age FROM Students")
rows = my_cursor.fetchall()

for row in rows:
    print(row)

##### 5.4 Where Condition

In [ ]:
my_cursor.execute("SELECT * FROM Students WHERE age > 21")
rows = my_cursor.fetchall()

for row in rows:
    print(row)

##### 5.5 Like

In [ ]:
my_cursor.execute("SELECT * FROM Students WHERE name LIKE 'A%'")
rows = my_cursor.fetchall()

for row in rows:
    print(row)

##### 5.6 Order by

In [ ]:
my_cursor.execute("SELECT * FROM Students ORDER BY age DESC")
rows = my_cursor.fetchall()

for row in rows:
    print(row)

##### 5.7 Limit

In [ ]:
my_cursor.execute("SELECT * FROM Students LIMIT 2")
rows = my_cursor.fetchall()

for row in rows:
    print(row)

### 6. Update

##### 6.1 Update Record

In [9]:
sql = "UPDATE Students SET age = %s WHERE name = %s"
values = (25, "Ansh")

my_cursor.execute(sql, values)
db.commit()

### 7. Delete

##### 7.1 Delete record

In [ ]:
sql = "DELETE FROM Students WHERE name = %s"
my_cursor.execute(sql, ("Ansh",))
db.commit()

##### 7.2 Delete All Records

In [ ]:
sql = "DELETE FROM Students WHERE name = %s"
my_cursor.execute(sql, ("Ansh",))
db.commit()

### 8. Aggregate

In [ ]:
my_cursor.execute("SELECT COUNT(*) FROM Students")
print(my_cursor.fetchone())

my_cursor.execute("SELECT AVG(age) FROM Students")
my_cursor.execute("SELECT MAX(age) FROM Students")
my_cursor.execute("SELECT MIN(age) FROM Students")
my_cursor.execute("SELECT SUM(age) FROM Students")

my_cursor.execute("SELECT AVG(age) FROM Students")
my_cursor.execute("SELECT MAX(age) FROM Students")
my_cursor.execute("SELECT MIN(age) FROM Students")
my_cursor.execute("SELECT SUM(age) FROM Students")

### 9. Joins

In [ ]:
my_cursor.execute("""
SELECT Students.name, Courses.course_name
FROM Students
INNER JOIN Courses ON students.id = courses.student_id
""")

### 10. Transactions

##### 10.1 Commit

In [ ]:
db.commit()

##### 10.2 Rollback

In [ ]:
db.rollback()

### 11. Error Handling

In [ ]:
try:
    my_cursor.execute("SELECT * FROM unknown_table")
except mysql.connector.Error as err:
    print("Error:", err)

### 12. Close Connection

In [10]:
my_cursor.close()
db.close()