In [ ]:
import csv
import pandas as pd
import user

In [ ]:
df1 = pd.read_csv("d1.csv", usecols=[0,1,5,6,7])

In [ ]:
df1

In [ ]:
open("new_data.csv", "w").close()

In [ ]:
df1.to_csv("new_data.csv", index = "False" )

In [ ]:
df2 = pd.read_csv("new_data.csv")
df2

In [ ]:
df2 = df2.drop(columns=["Unnamed: 0"])

In [ ]:
df2.to_csv("new_data.csv", index= False)

In [ ]:
df2.columns

In [ ]:
df2.insert(loc=0, column="user_id", value=user.generate_id(len(df2)))

In [ ]:
df2.to_csv("new_data.csv", index= False)

In [92]:
df2

,user_id,Transaction_ID,Date,Total_Cost,Payment_Method,City
0,1,1000000000,2022-01-21 06:27:29,71.65,Mobile Payment,Los Angeles
1,2,1000000001,2023-03-01 13:01:21,25.93,Cash,San Francisco
2,3,1000000002,2024-03-21 15:37:04,41.49,Credit Card,Houston
3,4,1000000003,2020-10-31 09:59:47,39.34,Mobile Payment,Chicago
4,5,1000000004,2020-12-10 00:59:59,16.42,Debit Card,Houston
...,...,...,...,...,...,...
999995,999996,1000999995,2023-03-27 06:12:10,22.07,Debit Card,Los Angeles
999996,999997,1000999996,2022-05-19 05:13:58,80.25,Cash,Houston
999997,999998,1000999997,2021-09-03 13:59:39,60.74,Credit Card,Los Angeles
999998,999999,1000999998,2023-10-17 05:50:40,23.48,Debit Card,San Francisco
999999,1000000,1000999999,2020-06-15 11:58:49,44.12,Credit Card,Atlanta

In [95]:
df2 = df2.drop(df2.index[500000:1000000])

In [96]:
df2.shape

(500000, 6)

In [98]:
df2.to_csv("new_data.csv", index= False)